<div class="profile_card">

	<div class="org_profile_image">
		<img src="{{profile.avatar_url}}">
	</div>	
	<p class="name">{{profile.name}}</p>
	<p class="user_name">@{{profile.login}}</p>
	<p class="desprition">{{profile.description}}</p>


	<div class="bottom-strip">
		<p>{{profile.public_repos}} <br> Repos</p>
		<p>28  <br> Peoples</p>
		<p>{{profile.followers}} <br> Followers</p>
	</div>

</div>

